<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--story_5238827_start-->
<div class="story" data-story-id="5238827" data-visited="false" data-story-long="false">
    <div class="story__left">

        <div class="story__rating-block" data-vote="0" data-story-id="5238827" data-can-vote="true">
            <div class="story__rating-up" title="Поставить плюсик"></div>
            <div class="story__rating-count">
                1022
            </div>
            <div class="story__rating-down" title="Поставить минус"></div>
        </div>

        <div class="story__scroll-wrapper">
            <div class="story__scroll">
                <div class="story__toggle-button story__toggle-button-scroll" title="Показать/скрыть пост" data-story-id="5238827" data-story-long="false" data-story-type="image">
                    <i class="i-sprite--inline-block i-sprite--feed__image-hide"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="story__main">
        <div class="story__header">
            <div class="story__header-title">

                <a href="https://pikabu.ru/story/gdeto_v_avstralii_seychas_khodit_otryad_biologov_s_vibratorami_5238827" target="_blank" class="story__title-link  story__title-link_visited_yes">Где-то в Австралии сейчас ходит отряд биологов с вибраторами</a>

            </div>

            <div class="story__header-additional">

                <!--noindex-->
                <div class="story__toggle-button" title="Показать/скрыть пост" data-story-id="5238827" data-story-long="false" data-story-type="image">
                    <i class="i-sprite--inline-block i-sprite--feed__image-hide"></i>
                </div>
                <!--/noindex-->

                <div class="story__header-additional-wrapper">
                    <a class="story__comments-count story__to-comments" href="https://pikabu.ru/story/gdeto_v_avstralii_seychas_khodit_otryad_biologov_s_vibratorami_5238827#comments">104 Комментария</a> <img src="https://cs.pikabu.ru/assets/svg/user.svg" width="10" height="11" class="story__user-icon"><a class="story__author" href="https://pikabu.ru/profile/SnatchNews">SnatchNews</a>
                    <div class="story__date" title="3 августа 2017 в 20:01">1 час назад</div>&nbsp;

                    <div class="story__tags">

                        <a href="https://pikabu.ru/tag/%F1%E5%EA%F1-%E8%E3%F0%F3%F8%EA%E0/hot" target="_blank" class="story__tag" title="Поиск по тегу &quot;секс-игрушка&quot;">
                            секс-игрушка
                        </a>

                        <a href="https://pikabu.ru/tag/%E1%E8%EE%EB%EE%E3%E8%FF/hot" target="_blank" class="story__tag" title="Поиск по тегу &quot;биология&quot;">
                            биология
                        </a>

                        <a href="https://pikabu.ru/tag/%F7%E5%F0%E5%EF%E0%F5%E0/hot" target="_blank" class="story__tag" title="Поиск по тегу &quot;черепаха&quot;">
                            черепаха
                        </a>

                        <a href="https://pikabu.ru/tag/%C0%E2%F1%F2%F0%E0%EB%E8%FF/hot" target="_blank" class="story__tag" title="Поиск по тегу &quot;Австралия&quot;">
                            Австралия
                        </a>

                    </div>

                    <div class="story__save i-sprite--comments__save" data-story-id="5238827" title="Сохранить" data-saved="false"></div>

                    <div class="story__share i-sprite--inline-block i-sprite--feed__share-all"></div>
                    <!--noindex-->
                    <div class="story__share-buttons" style="display: none">

                        <a href="http://www.facebook.com/sharer.php?u=https%3A%2F%2Fpikabu.ru%2Fstory%2Fgdeto_v_avstralii_seychas_khodit_otryad_biologov_s_vibratorami_5238827" target="_blank" rel="nofollow" class="story__share-button story__share-button_type_fb i-sprite--feed__share-fb"></a>
                        <a href="http://vk.com/share.php?url=https%3A%2F%2Fpikabu.ru%2Fstory%2Fgdeto_v_avstralii_seychas_khodit_otryad_biologov_s_vibratorami_5238827" target="_blank" rel="nofollow" class="story__share-button story__share-button_type_vk i-sprite--feed__share-vk"></a>
                        <a href="http://twitter.com/share?url=https%3A%2F%2Fpikabu.ru%2Fstory%2Fgdeto_v_avstralii_seychas_khodit_otryad_biologov_s_vibratorami_5238827&amp;text=%D0%93%D0%B4%D0%B5-%D1%82%D0%BE+%D0%B2+%D0%90%D0%B2%D1%81%D1%82%D1%80%D0%B0%D0%BB%D0%B8%D0%B8+%D1%81%D0%B5%D0%B9%D1%87%D0%B0%D1%81+%D1%85%D0%BE%D0%B4%D0%B8%D1%82+%D0%BE%D1%82%D1%80%D1%8F%D0%B4+%D0%B1%D0%B8%D0%BE%D0%BB%D0%BE%D0%B3%D0%BE%D0%B2+%D1%81+%D0%B2%D0%B8%D0%B1%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B0%D0%BC%D0%B8" target="_blank" rel="nofollow" class="story__share-button story__share-button_type_tw i-sprite--feed__share-tw"></a>

                    </div>
                    <!--/noindex-->

                </div>

            </div>
        </div>
        <div class="story__wrapper" style="display: block">

            <div class="b-story__content b-story__content_type_media " data-expanded="1">

                <a href="https://pikabu.ru/story/gdeto_v_avstralii_seychas_khodit_otryad_biologov_s_vibratorami_5238827" target="_blank">
                    <img src="https://cs8.pikabu.ru/post_img/2017/08/03/9/1501772288145812981.png" width="600" height="382" data-large-image="https://cs8.pikabu.ru/post_img/big/2017/08/03/9/1501772288145812981.png" data-viewable="true" alt="Где-то в Австралии сейчас ходит отряд биологов с вибраторами" data-bigger-available="true">
                </a>

            </div>

            <div class="story__footer">

                <ul class="story__rating-block story__rating-block_small" data-story-id="5238827">
                    <li class="story__rating-up-small " data-rating="up">
                        <i class="i-sprite--comments__rating-up"></i>
                    </li>
                    <li class="story__rating-down-small " data-rating="down">
                        <i class="i-sprite--comments__rating-down"></i>
                    </li>
                </ul>

                <div class="story__slide-up">свернуть</div>
            </div>

        </div>
    </div>

</div>
<!--story_5238827_end-->


</body>
</html>